<!DOCTYPE html>
<html>
  <head>
  	<title>My angular App</title>
    <link rel="stylesheet" type="text/css" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.10/angular.min.js" ></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js" ></script>
  	<script src="/javascripts/angularApp.js" /></script>
    <style type="text/css">
      .glyphicon-thumbs-up {cursor: pointer;}
      .glyphicon-thumbs-down {cursor: pointer;}
    </style>
  </head>
  <body ng-app="flapperNews"> 
    <nav class="navbar navbar-default pull-right" ng-controller="NavCtrl">
      <ul class="nav navbar-nav">
        <li ng-show="isLoggedIn()"><a>{{currentUser()}}</a></li>
        <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
        <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
      </ul>
    </nav>
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <ui-view></ui-view>
      </div>
    </div>

    <!-- Plantilla para funcionar con el ui-router -->
    <script type="text/ng-template" id="/home.html">
      <div class="page-header">
        <h1>Flapper News</h1>
      </div>
      
      <div ng-repeat="post in posts | orderBy: '-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up" ng-click="addVotesUp(post)" ></span>
        {{post.upvotes}}
        <span style="margin-left:1em; margin-right: 1em;">|</span>
        <span class="glyphicon glyphicon-thumbs-down" ng-click="addVotesDown(post)" ></span>
        {{post.downvotes}}
        <span style="font-size: 20px; margin-left:10px;">
          <a ng-show="post.link" href="{{post.link}}">
            {{post.title}} 
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>  
        </span>
        <span>
          <a href="#/posts/{{post._id}}">Comments</a>
        </span>
        <span ng-show="post.author">
          posted by <a>{{post.author}}</a>
        </span>
      </div>
    
      <form ng-submit="addPost()" ng-show="isLoggedIn()" style="margin-top: 30px;">
        <h3>Add a new post</h3>
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Title" ng-model="title" />
        </div>
        <div  class="form-group">
          <input class="form-control" type="text" placeholder="Link" ng-model="link" />
        </div>
        <button class="btn btn-primary" type="submit">Post</button>
      </form>

      <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can post</h3>
      </div>

    </script>

    <script type="text/ng-template" id="/posts.html">
      <div class="page-header">
        <h3>
          <a ng-show="post.link" href="{{post.link}}">
            {{post.title}}
          </a>
          <span ng-hide="post.link">
            {{post.title}}
          </span>
        </h3>
      </div>
      
      <div ng-repeat="comment in post.comments | orderBy: '-upvotes'">
        <span class="glyphicon glyphicon-thumbs-up" ng-click="addCommentVotesUp(comment)" ></span>
          {{comment.upvotes}}
        <span style="margin-left:1em; margin-right: 1em;">|</span>
        <span class="glyphicon glyphicon-thumbs-down" ng-click="addCommentVotesDown(comment)" ></span>
          {{comment.downvotes}}
        <span>
            - by {{comment.author}} 
        </span>
        <span  style="font-size: 20px; margin-left:10px;">
          {{comment.body}}
        </span>  
      </div>

      <form ng-submit="addComment()" ng-show="isLoggedIn()" style="margin-top: 30px;">
        <h3>Add a new comment </h3>
        
        <div class="form-group">
          <input class="form-control" type="text" placeholder="Comment..." ng-model="body" />
        </div>

        <button class="btn btn-primary" type="submit">Comment</button>
      </form>

      <div ng-hide="isLoggedIn()">
        <h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can comment</h3>
      </div>
    </script>

    <script type="text/ng-template" id="/register.html">
      <div class="page-header">
        <h1>
          Flapper News
        </h1>

        <div ng-show="error" class="alert alert-danger now">
          <span>{{ error.message }}</span>
        </div>

        <form ng-submit="register()" style="margin-top: 30px;">
          <h3>Register</h3>

          <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" ng-model="user.username" />
          </div>

          <div class="form-group">
            <input class="form-control" type="text" placeholder="Password" ng-model="user.password" />
          </div>

          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </script>

    <script type="text/ng-template" id="/login.html">
      <div class="page-header">
        <h1>
          Flapper News
        </h1>

        <div ng-show="error" class="alert alert-danger now">
          <span>{{ error.message }}</span>
        </div>

        <form ng-submit="logIn()" style="margin-top: 30px;">
          <h3>Log In</h3>

          <div class="form-group">
            <input class="form-control" type="text" placeholder="Username" ng-model="user.username" />
          </div>

          <div class="form-group">
            <input class="form-control" type="text" placeholder="Password" ng-model="user.password" />
          </div>

          <button type="submit" class="btn btn-primary">Log In</button>
        </form>
      </div>
    </script>
  </body>

</html>